<!DOCTYPE html PUBLIC>

<html>
    
    <head>
        
        <title>AspNet.Mvc.Dotless</title>
        <link href="~/Stylesheets/Site.less" rel="stylesheet" type="text/css" />

    </head>

    <body>
        
        <div class="header">
            AspNet.Mvc.Dotless
        </div>

    </body>

</html>